@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewData["learnAbout"] <a href="https://docs.microsoft.com/aspnet/core">@ViewData["homeBodyText"]</a>.</p>
</div>
